body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.75rem;
    position: relative;
}
h1
{
    margin-top: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}
h2
{
    font-size: 1.25rem;
    color: rgb(87, 79, 202);
}
h3
{
color: darkcyan;
}
p
{
font-size: 10px;
}
img
{
    width: 55px;
    height: 55px;
}
span
{
    font-weight: bold;
    font-size: 16px;
}


.top-container
{
    background-color: #e4f9f5;
}
.profile-pic    
{
    margin-top:10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.cloud-img
{
    position: absolute;
    right: 300px;
}
.cloud2-img
{
    position: absolute;
    left: 300px;
}
.mountain-img
{
    width: 200px;
    height: 75px;
}